.wrapper{
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  vertical-align: middle;
}
.content{
  color: cadetblue;
}
.header {
  font-size: 6rem;
}
.input-group-addon {
  padding: 10px 18px;
  font-size: 5px;
  line-height: 1;
  border: 1px solid #ced4da;
  border-radius: .20rem;
}
.glyphicon {
  top: 0;
}
.btn {
  padding: 10px 25px;
  font-size: 1.5rem;
}

.large {
  padding: 10px 20px;
  font-size: 1.5rem;
}
.large-icon {
  font-size: 12px;
}
